body {
  font-family: "Montserrat", sans-serif !important;
  background-color: #1d2228;
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.render-target {
  height: 100%;
}

.container {
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.top-div {
  background-color: #fb8122;
  width: 100%;
}

.top-div-h1 {
  width: 100%;
  margin: auto;
}

.button-div {
  position: absolute;
  height: 152px;
  width: 100%;
  z-index: 2;
}

.button-div button {
  height: 100%;
  font-size: 10em;
  margin-top: -45px;
  margin-right: 5px;
  text-align: center;
  float: right;
  border: none;
  background-color: transparent !important;
}

.category-div {
  background-color: #e1e2e2;
  color: #1d2228;
}

header {
  background: #d2edf4;
  padding: 20px 15px 15px 15px;
  position: relative;
}

h1 {
  margin: 0 !important;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif !important;
  font-size: 5em !important;
  color: black;
}

.category-div h3 {
  width: 33.33%;
  border-bottom: #eee solid 1px;
}

h3 {
  font-family: "Montserrat", sans-serif !important;
  font-size: 4em !important;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  text-align: center;
}

.list-ul {
  margin-top: 263px;
  z-index: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
  width: 100%;
}

li {
  font-size: 3em;
  position: relative;
  display: inline-block;
  list-style: none;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: #eee solid 1px;
  width: 33.33%;
  text-align: center;
  background-color: #1d2228;
  color: white;
}

li .text {
  margin-left: 10px;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

input {
  width: 100%;
  height: 2.5em;
  display: inline-block;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 3em !important;
}

label {
  width: 100%;
  display: inline-block;
  color: white;
  text-align: center;
}

.new-service button {
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3em;
  margin: auto auto;
  margin-top: 40px;
  cursor: pointer;
  border: 10px solid white;
  border-radius: 5px;
  background-color: transparent !important;
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
}
